* {
  margin: 0;
}

html, body {
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#data-point-control {
  margin: 10px 5px;
}

#data-point-control > button {
  margin-left: 5px;
}

#my-deckgl-map {
  height: 100%;
  width: 100%;
  position: relative;
}
